# files types to exculde

.idea/

__pycache__/

datasets/

gesture_recognition/log/

gesture_recognition/model/

gesture_recognition/output/

gesture_recognition/pretrained_models/


*.pyc

*.checkPoint

